---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
---

<Layout title="Initiation à zazen">
  <Container>
    <div class="mx-auto max-w-3xl mt-4">
      <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight text-teal-800">
        Initiation à zazen, participation libre
      </h1>
      <p class="text-lg mt-4 text-gray-600">
Françoise Julien, maître zen de la Kosen Sangha, vous accueille pour expérimenter librement la méditation zazen, sans but ni esprit de profit.
      </p>
    <div class="my-8">
      <img
        src="/assets/une-femme-assise-sur-un-coussin-en-position-de-meditation-dans-une-salle-interieure.webp"
        alt="Initiation à la méditation zen à Paris."
        class="w-full rounded-2xl shadow-md object-cover"
      />
    </div>
  </Container>
</Layout>
