---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";
---

<Layout title="Mentions légales">
  <Container>

    <!-- Page Header -->
    <Sectionhead>
      <Fragment slot="title">
        <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight text-teal-800">
          Mentions légales
        </h1>
      </Fragment>
      <Fragment slot="desc">
        <div class="text-left text-lg">
          Informations légales relatives à l’éditeur, l’hébergement
          et l’utilisation du site zen-paris.org.
        </div>
      </Fragment>
    </Sectionhead>

    <!-- Main Content -->
    <main class="mt-16">
      <div class="flex flex-col gap-4 lg:gap-6 max-w-4xl mx-auto">

        <p class="text-sm text-gray-700">
          En vigueur au 07/03/2024
        </p>

        <p>
          Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans l’économie numérique, dite LCEN, il est porté à la connaissance des utilisateurs et visiteurs, ci-après l'Utilisateur, du site zen-paris.org , ci-après le Site, les présentes mentions légales.
        </p>

        <p>
          La connexion et la navigation sur le Site par l’Utilisateur impliquent acceptation intégrale et sans réserve des présentes mentions légales.
        </p>

        <p>
          Ces dernières sont accessibles sur le Site à la rubrique « Mentions légales ».
        </p>

        <h2>Article 1 - l'Éditeur</h2>

        <p>
          L'édition du Site est assurée par Zen Paris, association loi de 1901, dont le siège social est situé au 54, avenue d’Italie 75013 Paris.
        </p>

        <p>
          Numéro de téléphone 07 88 81 74 47
        </p>

        <p>
          Adresse e-mail : contact@zen-paris.org
        </p>

        <p>
          Le Directeur de la publication est Patrick Médard, ci-après l'Éditeur.
        </p>

<h2>Article 2 - l'Hébergeur</h2>

<p>
  L'Hébergeur du Site est la société Vercel Inc., dont le siège social est situé au
  340 S Lemon Ave #4133, Walnut, CA 91789, États-Unis.
</p>
        <h2>Article 3 - accès au site</h2>

        <p>
          Le Site est accessible en tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non et pouvant découlant d’une nécessité de maintenance.
        </p>

        <p>
          En cas de modification, interruption ou suspension du Site, l'Éditeur ne saurait être tenu responsable.
        </p>

        <h2>Article 4 - collecte des données</h2>

        <p>
          Le Site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.
        </p>

        <p>
          En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit par mail à l'adresse email contact@zen-paris.org
        </p>

      </div>
    </main>

  </Container>
</Layout>
