---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";
---

<Layout title="Politique de confidentialité">
  <Container>

    <!-- Page Header -->
    <Sectionhead>
      <Fragment slot="title">
        <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight text-teal-800">
          Politique de confidentialité
        </h1>
      </Fragment>
      <Fragment slot="desc">
        <div class="text-left text-lg">
          Informations relatives à la collecte, l’utilisation et la protection
          des données personnelles sur le site zen-paris.org.
        </div>
      </Fragment>
    </Sectionhead>

    <!-- Main Content -->
    <main class="mt-16">
      <div class="flex flex-col gap-4 lg:gap-6 max-w-4xl mx-auto">

        <p class="text-sm text-gray-700">
          Dernière mise à jour : 07 mars 2024
        </p>

        <p>
          Zen Paris ("nous", "nous", ou "notre") exploite le site web zen-paris.org (le "Service").
        </p>

        <p>
          Cette page vous informe de nos politiques en matière de collecte, d'utilisation et de divulgation d'informations personnelles lorsque vous utilisez notre Service.
        </p>

        <p>
          Nous n'utiliserons ni ne partagerons vos informations avec quiconque, sauf tel que décrit dans cette Politique de confidentialité.
        </p>

        <p>
          Nous utilisons vos informations personnelles pour fournir et améliorer le Service. En utilisant le Service, vous acceptez la collecte et l'utilisation d'informations conformément à cette politique..
        </p>

        <h2>Collecte et utilisation des informations</h2>

        <p>
          Pendant l'utilisation de notre Service, nous pouvons vous demander de nous fournir certaines informations personnelles identifiables qui peuvent être utilisées pour vous contacter ou vous identifier. Les informations personnelles identifiables ("Informations personnelles") peuvent inclure, mais ne sont pas limitées à :
        </p>

        <ul>
          <li>Nom</li>
          <li>Adresse e-mail</li>
        </ul>

        <h2>Données de journal</h2>

        <p>
          Nous recueillons des informations que votre navigateur envoie chaque fois que vous visitez notre Service ("Données de journal"). Ces données de journal peuvent inclure des informations telles que l'adresse de protocole Internet ("IP") de votre ordinateur, le type de navigateur, la version du navigateur, les pages de notre Service que vous visitez, l'heure et la date de votre visite, le temps passé sur ces pages et d'autres statistiques.
        </p>

        <h2>Cookies</h2>

        <p>
          Les cookies sont des fichiers contenant une petite quantité de données, pouvant inclure un identifiant unique anonyme. Les cookies sont envoyés à votre navigateur à partir d'un site web et stockés sur le disque dur de votre ordinateur.
        </p>

        <p>
          Nous utilisons des "cookies" pour collecter des informations. Vous pouvez indiquer à votre navigateur de refuser tous les cookies ou d'indiquer quand un cookie est envoyé. Cependant, si vous n'acceptez pas les cookies, vous pourriez ne pas être en mesure d'utiliser certaines parties de notre Service.
        </p>

        <h2>Prestataires de services</h2>

        <p>
          Nous pouvons faire appel à des sociétés et à des individus tiers pour faciliter notre Service, fournir le Service en notre nom, effectuer des services liés au Service ou nous aider à analyser l'utilisation de notre Service.
        </p>

        <p>
          Ces tiers ont accès à vos informations personnelles uniquement pour effectuer ces tâches en notre nom et sont tenus de ne pas les divulguer ou de les utiliser à d'autres fins.
        </p>

        <h2>Sécurité</h2>

        <p>
          La sécurité de vos informations personnelles est importante pour nous, mais rappelez-vous qu'aucune méthode de transmission sur Internet, ni de stockage électronique, n'est 100% sécurisée. Bien que nous nous efforcions d'utiliser des moyens commercialement acceptables pour protéger vos informations personnelles, nous ne pouvons garantir une sécurité absolue.
        </p>

        <h2>Liens vers d'autres sites</h2>

        <p>
          Notre Service peut contenir des liens vers d'autres sites qui ne sont pas exploités par nous. Si vous cliquez sur un lien d'un tiers, vous serez redirigé vers le site de ce tiers. Nous vous conseillons vivement de consulter la Politique de confidentialité de chaque site que vous visitez.
        </p>

        <p>
          Nous n'avons aucun contrôle sur le contenu, les politiques de confidentialité ou les pratiques des sites ou services de tiers.
        </p>

        <h2>Vie privée des enfants</h2>

        <p>
          Notre Service ne s'adresse à personne de moins de 18 ans ("Enfants").
        </p>

        <p>
          Nous ne collectons délibérément aucune information personnellement identifiable auprès d'enfants de moins de 18 ans. Si vous êtes parent ou tuteur et que vous êtes conscient(e) du fait que votre enfant nous a fourni des informations personnelles, veuillez nous contacter. Si nous découvrons qu'un enfant de moins de 18 ans nous a fourni des informations personnelles, nous supprimerons immédiatement ces informations de nos serveurs.
        </p>

        <h2>Conformité aux lois</h2>

        <p>
          Nous divulguerons vos informations personnelles lorsque cela sera requis par la loi ou par assignation.
        </p>

        <h2>Modifications de cette politique de confidentialité</h2>

        <p>
          Nous pouvons mettre à jour notre Politique de confidentialité de temps à autre. Nous vous informerons de tout changement en publiant la nouvelle Politique de confidentialité sur cette page.
        </p>

        <p>
          Il est conseillé de consulter périodiquement cette Politique de confidentialité pour toute modification. Les changements à cette Politique de confidentialité sont effectifs lorsqu'ils sont publiés sur cette page.
        </p>

        <h2>Contactez-nous</h2>

        <p>
          Si vous avez des questions concernant cette Politique de confidentialité, veuillez nous contacter.
        </p>

      </div>
    </main>

  </Container>
</Layout>
