---
import { Picture } from "astro:assets";
import heroImage from "@/assets/hero.webp";
import Link from "@/components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
   class="flex flex-col lg:flex-row gap-8 mx-auto max-w-6xl mt-4">
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-4xl font-bold lg:tracking-tight xl:tracking-tighter text-teal-800">
Pratiquez la méditation zazen traditionnelle dans un dojo zen de taille humaine
    </h1>
    <p class="text-2xl lg:text-2xl font-bold text-gray-500">
     <strong>Zen Paris</strong> vous accueille pour des séances, stages et initiations zen
    </p>
</main>
